/*Lara*/
@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu a {
    color: rgb(236, 220, 175);
 
}
.menu a:hover {
    color: #e0b04e;
}
main {
    background-image:linear-gradient(rgba(255, 255, 255, 0.5)),
        url("https://img.freepik.com/vetores-gratis/padrao-guingao-fundo-vermelho_78370-2241.jpg?semt=ais_hybrid&w=740&q=80");
}
.subtitulo {
    color: #9f3413;
    font-weight: bold;
}
.botao-entrar {
    background-color: #53567e;
    color: #ffffff ;
}
.botao-entrar:hover {
    background-color: #6a6eb0; 

.cards-pizza {
  background-color: #fde2bd;
  border: 3px solid #d65b35;
}
.cards-pizza h2 {
     color: #5c2b1a;
  font-weight: bold;
}

button {
  background-color: #8189a8;
  color: rgb(76, 43, 4);
}

.xadrez {
    background: repeating-linear-gradient(
        to right,
        #c63a2a 0 100px,
        #efdcba 100px 200px
    );

.xadrez h1 {
    font-family: 'Playfair Display', serif;
    color: #000;
}

.contato {
    background-color: #5e707e;
    display: flex;
    color: #fff;
}

.card p {
    color: #d9d9d9;
}

.card .info {
    color: #fff;
}

  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.giovanna-contieri-faixa {
   background-color:#c8442d;
}

.giovanna-contieri-titulo {
  font-family: 'Playfair Display', serif;
  color: oklch(56.919% 0.17202 32.234);
}

.giovanna-contieri-paragrafo {
  font-family: 'DM Sans', sans-serif;
  color: #c8442d;
}

.giovanna-contieri-fundo-gradiente {
  background: radial-gradient(circle, rgba(255,180,0,0.4) 0%, rgba(255,180,0,0) 70%);
}

  /*Nicolas*/
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.nickFundo {
    font-family: "Inria Serif", serif;
    background-color: #f9f5d8;
}

.nick-Titulo h1 {
    color: #5c2b1a;
   
}

.nickCaixa1 {
    background: #fff3d4;
    border: 3px solid #d65b35;
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.1);
}

.nickCaixa1::before {
    background-color: #d65b35;
}

.imagemRedonda {
    border: 2px solid #d65b35; }
  
.nome-1 {
    font-family: "Inria Serif", serif;

.nome-2 {
    font-family: "Inria Serif", serif;

.data {
    font-size: 16px;
    color: #d65b35;

.avaliação  {
    font-size: 20px;
    color: #d65b35;

.nickComentário {
    font-size: 22px; 
    color: #5c2b1a; 


