/*Lara*/
@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu a {
    color: rgb(236, 220, 175);
 
}
.menu a:hover {
    color: #e0b04e;
}
main {
    background-image:linear-gradient(rgba(255, 255, 255, 0.5)),
        url("https://img.freepik.com/vetores-gratis/padrao-guingao-fundo-vermelho_78370-2241.jpg?semt=ais_hybrid&w=740&q=80");
}
.subtitulo {
    color: #9f3413;
    font-weight: bold;
}
.botao-entrar {
    background-color: #53567e;
    color: #ffffff ;
}
.botao-entrar:hover {
    background-color: #6a6eb0; 

.cards-pizza {
  background-color: #fde2bd;
  border: 3px solid #d65b35;
}
.cards-pizza h2 {
     color: #5c2b1a;
  font-weight: bold;
}

button {
  background-color: #8189a8;
  color: rgb(76, 43, 4);
}

