
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  padding-top: 10px;
  background: linear-gradient( rgba(178, 56, 56, 0.9), rgba(255, 229, 185, 0.9));
  background-color: #ffdcb7;
  padding-bottom: 190px;
}

/* Cabeçalho */
header {
  text-align: center;
  padding: 60px 0 30px;
}

header h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 4em;
  font-weight: normal;
  color: #3d1d07;
}

/* Container dos cards */
.ana-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 20px;
  padding-bottom: 80px;
}

/* Card pizza */
.cards-pizza {
  background-color: #fde2bd;
  border: 3px solid #d65b35;
  border-radius: 3px;
  width: 240px;
  text-align: center;
  padding: 35px 15px 65px;
  position: relative;
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.1);
}

.cards-pizza h2 {
  font-size: 1.6em;
  margin-bottom: 10px;
  color: #5c2b1a;
  font-weight: bold;
}

/* Estrelas */
.estrelas-ana {
  font-size: 0.7em;
  margin-bottom: 15px;
  letter-spacing: 3px;
}

/* Botão */
button {
  background-color: #8189a8;
  color: rgb(76, 43, 4);
  border: none;
  border-radius: 50px;
  padding: 10px 25px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


/* Imagem da pizza */
.cards-pizza img {
  width: 120px;
  height: 120px;
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);
}

/* Responsivo para tablets */
@media (max-width: 992px) {
  .ana-container {
    gap: 30px;
  }

  .cards-pizza {
    width: 200px;
    padding: 30px 15px 60px;
  }

  .cards-pizza h2 {
    font-size: 1.4em;
  }

  button {
    font-size: 0.95em;
    padding: 8px 20px;
  }

  .cards-pizza img {
    width: 100px;
    height: 100px;
    bottom: -50px;
  }

  header h1 {
    font-size: 3em;
  }
}

/* Responsivo para celulares */
@media (max-width: 600px) {
  header {
    padding: 40px 0 20px;
  }

  header h1 {
    font-size: 2.5em;
  }

  .ana-container {
    flex-direction: column;
    align-items: center;
    padding: 0 10px 60px;
  }

  .cards-pizza {
    width: 90%;
    max-width: 300px;
    padding: 25px 15px 55px;
  }

  .cards-pizza h2 {
    font-size: 1.2em;
  }

  .estrelas-ana {
    font-size: 0.6em;
  }

  button {
    font-size: 0.9em;
    padding: 8px 18px;
  }

  .cards-pizza img {
    width: 90px;
    height: 90px;
    bottom: -45px;
  }
}
